


<template lang="jade">

	div.todos

		h1 TODOS
		div.todos-list
			div.todo
				div.todo-id
					strong ID
				div.todo-title
					strong TITLE
				div.todo-completed
					strong DONE

			div.todo(
				v-for="(todo, index) in $store.todos.listTodos()"
				:key="index"
				@click="updateTodo(todo)"
			)
				div.todo-id {{ todo.id }}
				div.todo-title {{ todo.title }}
				div.todo-completed {{ todo.completed }}

		hr

		h1 ADD A NEW TODO
		div.todos-form
			input(
				v-model="taskName"
				placeholder="Task name goes here ..."
			)
			button(
				@click="addTodo"
			) Add Todo

</template>



<script>


	const $cmp = {
		name : 'todos',
		computed : {},
		methods : {}
	}



	$cmp.data = () => {
		return {
			taskName : ''
		}
	}



	$cmp.created = async function() {

		await this.$store.todos.fetchTodos()

		console.log('Todos:')
		console.log(this.$store.todos.data.todos)

		console.log('Get a todo by its .id:')
		console.log(this.$store.todos.getTodo(1))

	}



	$cmp.methods.addTodo = function(todo) {

		const numTodos = this.$store.todos.numTodos()

		this.$store.todos.insertTodo({
			id : numTodos + 1,
			title : this.taskName,
			completed : false
		})

		this.taskName = ''

	}

	$cmp.methods.updateTodo = function(todo) {

		todo.completed = !todo.completed
		todo.title = todo.title + ' UPDATED'

		this.$store.todos.updateTodo(todo.id, todo)

	}



	export default $cmp



</script>



<style lang="stylus" scoped>

	.todos
		position relative
		width 100%
		padding 40px
		font-family Helvetica, sans-serif
		font-size 14px

		h1
			font-size 18px
			font-weight bold

		strong
			font-weight bold

	.todos-list
		position relative

	.todo
		position relative
		display flex

	.todo-id
		flex 1
		max-width 40px

	.todo-title
		flex 1

	.todo-completed
		flex 1
		max-width 40px

</style>
