


<template lang="jade">

	div.app
		router-view

</template>



<script>


	import '@/app-imports.js'
	import router from '@/app-router.js'
	import store from '@/app-store.js'


	const $cmp = {
		name : 'app',
		router : router,
		data : {
			store : store
		}
	}

	export default $cmp



</script>



<style lang="stylus" scoped>

	.app
		position relative
		width 100%
		min-height 100%

</style>
